@model IEnumerable<SoloCapstoneProject.Models.ProviderSchedule>

@{
    ViewData["Title"] = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>

<h1>Schedule</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WeekDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpeningHour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosingHour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isAvailable)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.isBooked)
                </th>*@

                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeekDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpeningHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosingHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isAvailable)
                    </td>
                
                <td>
                    <a asp-action="Index" asp-controller="Orders" asp-route-id="@item.ProviderId">Book an Appointment</a>
                </td>
                    </tr>
            }
        </tbody>
    </table>

