@model IEnumerable<SoloCapstoneProject.Models.ProviderAvailability>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Providers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Providers.ProviderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProviderAvailablityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProviderAvailablityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProviderAvailablityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
